<%= form_for @reservation, :url => table_reservations_path do |f| %>
  <% if @reservation.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @reservation.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
      </ul>
    </div>
    <% end %>
    <div><%= f.label :time %>
    <%= f.collection_select :time, Table.reservation_time, :to_s, :to_s %>
    </div>
    <%= f.label :people %>
    <%= f.text_field :people %><br>
    <%= f.submit %>
    <% end %>
