<h1><%= @table.title %></h1>

<%= link_to "Edit", edit_table_path(@table), class: 'btn btn-mini' %>
<%= link_to "Book now", new_table_reservation_path(@table.id), class: 'btn btn-mini' %>
<p><%= @table.body %></p>

<% if current_user %>
  <h3>Comments</h3>
  <p>Comments for <%= @table.title %></p>
  <% @table.comments.each do |comment| %>
  <p>
    <%=comment.body %>
    <br>
    <% if comment.user != nil %>
    <em> by <%= comment.user.email %>
      Added on: <%= comment.created_at %>
      <% end %>
    </p>
    <% end %>

    <h4>New Comment</h4>
    
    <%= form_for [@table, @comment] do |f| %>
      <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:
        </h2>
        

        <ul>
          <% @comment.errors.full_message.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>

      <% else %>
        <p> Please <%=link_to "log in", new_session_path %> to add a review.</p>
        <% end %>

    